
    <button type="button" 
            class="btn btn-secondary"
            style="margin:4px; background-color:@BackgroundColor; width:@(Width)px"
            @onclick="OnClick.Invoke">
                    @Text
    </button>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public string BackgroundColor { get; set; }

    [Parameter]
    public int Width { get; set; }
}
