@inject MyTeamViewModel MyTeamViewModel

<div class="container-fluid" style="min-width: fit-content">
    <div class="row">
        @foreach (Player p in ActivePlayers)
        {
            <div class="col-4">
                <PlayerCard Player="p" />
            </div>
        }
    </div>
</div>

@code {
    //TODO: Get these players from the database
    private List<Player> ActivePlayers => MyTeamViewModel.TeamPlayers;

    public List<Player> BenchPlayers { get; set; }
}
