
<div class="card" style="background-color:whitesmoke">
    <div class="row container-fluid" style="margin:16px">
        @*Team 1 timeouts*@
        <div class="col-1" style="align-self:center">
            <div class="row" style="margin-bottom:8px; place-content:center">
                <input type="radio" style="height:30px; width:30px" />
            </div>
            <div class="row" style="place-content: center">
                <input type="radio" style="height:30px; width:30px" />
            </div>
        </div>

        @*Team 1 Name*@
        <div class="col-2" style="align-self:center; text-align:center; font-size:x-large">
            <span>Team 1 Name</span>
        </div>

        @*Score*@
        <div class="col-6" style=" align-self: center">
            <div class="row" style="place-content:center">
                <span>Set</span>
            </div>
            <div class="row" style="place-content:center; align-self:center">
                @*Team 1 score*@
                <div style="margin-right:16px">
                    <span style="font-size:xxx-large">15</span>
                </div>

                @*Team 1 sets won*@
                <div style="align-self:baseline">
                    <span style="font-size:large">1</span>
                </div>

                @*Current set*@
                <div style="align-self:baseline; margin:0px 16px 0px 16px">
                    <span style="font-size:xx-large">2</span>
                </div>

                @*Team 2 sets won*@
                <div style="align-self:baseline">
                    <span style="font-size:large">1</span>
                </div>

                @*Team 2 score*@
                <div style="margin-left:16px">
                    <span style="font-size:xxx-large">21</span>
                </div>
            </div>
        </div>

        @*Team 1 Name*@
        <div class="col-2" style="align-self:center; text-align:center; font-size:x-large">
            <span>Team 2 Name</span>
        </div>

        @*Team 2 timeouts*@
        <div class="col-1" style="align-self:center">
            <div class="col-1">
                <div class="row" style="margin-bottom:8px; place-content:center">
                    <input type="radio" style="height:30px; width:30px" />
                </div>
                <div class="row" style="place-content: center">
                    <input type="radio" style="height:30px; width:30px" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
