

    <div class="container-fluid">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Jersey</th>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
@code {

}
