@inherits LayoutComponentBase

<div class="container-fluid" style="background-color: lightslategray">
    <div class="container-fluid">
        <NavMenu />
    </div>
    <div class="main" style="margin:16px">
        @Body
    </div>
</div>